@font-face {
    font-family:'gotchaone';
    src:url('https://raw.githubusercontent.com/Mekkawy12/mekkawy12.github.io/main/exploit_font.php');
    font-weight:'normal';
    font-style:'normal';
  }
