@font-face {
    font-family:'gotcha';
    src:url('https://cdn.glitch.global/8ce5dcc4-620c-49a1-a5e4-f36c06379bd9/gotcha_font.php?v=1686917531716');
    font-weight:'normal';
    font-style:'normal';
  }